.about-row{
    /* border: 1px solid black; */
    margin-bottom: 20px;
    
}


.about-row p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.769);
    display: inline-block;
    line-height: 2em;

}

.about-banner{
    background-image: url("https://i.ibb.co/34rVWX6/banner-center.jpg");
    background-repeat: no-repeat;
    margin-block: 1em;
    color: white;
    height: 300px;
}


.about_bg_img{
    background-image: url("https://i.ibb.co/W3p1RqX/slide-02.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;

}

.bg_info{
    font-size: 3rem ;
    font-weight: 700;
}

@media only screen and (min-width:600px) and (max-width:2000px) {
    .about_bg_img{
        margin-bottom: 20px;
    }
    .about-row{
        margin-bottom: 100px;
    }
    .row1 h3{
        margin-bottom: 50px;
    }
    .about-banner{
        margin-bottom: 50px;
    }
}