.bottom-footer{
    color: white;
    padding-top: 10pxa;
    font-size: 1rem ;
    font-weight: 500;
    background-color: #212121;
}

.top-footer{
    background-color: rgba(0, 0, 0, 0.531);
    color: white;
    margin-top: 50px;
    padding-top: 30px;
    text-align: left;
    padding-left: 50px;
}
/* .footer p{
    margin-bottom: 0;
} */